<!doctype html>
<html th:fragment ="layout" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bottom navbar example · Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="jumbotron mt-3">
        <h1>Hello World!</h1>
        <p class="lead">Here will be placed content info about app.</p>
    </div>
</div>

</body>
</html>


