<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Bustracker - Streets List</title>
</head>
<body>
<section layout:fragment="content">
    <div class="container">
        <div class="jumbotron mt-3">
            <div class="container">
                <li class="list-group-item active">Stops:</li>
                <ul class="list-group" th:each="stop : ${stops}">
                    <a type="button" class="list-group-item list-group-item-action" th:text="${stop.getName()}" th:href="@{'/line/' + ${stop.getId()}}"></a>
                </ul>
            </div>
        </div>
    </div>




</section>
</body>
</html>









