<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Bustracker - Time Schedule</title>
</head>
<body>
<section layout:fragment="content">
    <div class="container">
        <div class="jumbotron mt-3">
            <div class="container">

                <div th:if="not ${#strings.isEmpty(stopName)}">
                    <p th:text="${stopName}"></p>
                </div>

                <div th:if="not ${#strings.isEmpty(direction)}">
                    <p>Direction: <p th:text="${direction}"></p> </p>
                </div>

                <li class="list-group-item active">Time:</li>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Day</th>
                        <th scope="col">Time</th>
                    </tr>
                    </thead>
                    <tbody th:each="schedule, iterSched: ${schedules}">
                    <tr>
                        <th scope="row" th:text="${iterSched.index}"></th>
                        <td th:text="${schedule.getDay()}"></td>
                        <td th:text="${schedule.getTime()}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
</body>
</html>
